{% extends 'classapp/base.html' %}
{% block content %}
<h2>{{assignment.title}}</h2>

<p class="date">Do it by: {{assignment.due_date}}</p>
{% if perms.classapp.change_assignment %}
<div class="editthing">
	<i class="glyphicon glyphicon-edit"></i>
<a class="edit" href="{% url 'assignment_edit' theclass assignment.pk  %}">Edit</a>
</div>
{% endif %}
{% if perms.classapp.delete_assignment %}
<div class="deletething">
	<i class="glyphicon glyphicon-trash"></i>
<a class="delete" href="{% url 'assignment_delete' theclass assignment.pk %}">Delete</a>
</div>
{% endif %}
<div>

<p>{{assignment.description}}</p>

</div>
<div class="row back">
	<i class="glyphicon glyphicon-arrow-left"></i>
<a href="{% url 'assignment_list' theclass %}">Back</a></p>
</div>
{% endblock content %}