{% extends 'classapp/base.html' %}
{% block content %}
<div class="jumbotron">
<h1>{{ theclass}}</h1>

	</div>
<div class = "row">
<div class="col-md-4" id="posts">
	<i class="glyphicon glyphicon-info-sign"></i>
<a href="{% url 'post_list' theclass.pk %}"><h2>Posts</h2></a>
{% for post in posts %}
<div>
	<ul class="list-unstyled">
	<li><a href="{% url 'postpage' theclass.pk post.id %}">{{post}}</a></li>
	</ul>
</div>
{% endfor %}
</div>

<div class="col-md-4" id="assignments">
	<i class="glyphicon glyphicon-list-alt"></i>
<a href="{% url 'assignment_list' theclass.pk %}"><h2>Assignments</h2></a>
{% for assignment in assignments %}
<div>
	<ul class="list-unstyled">
	<li><a href="{% url 'assignmentpage' theclass.pk assignment.id %}">{{assignment}}<div class="date">Due: {{assignment.due_date}}</div></a></li>
</ul>
</div>
{% endfor %}
</div>

<div class = "col-md-4" id="discussions">
	<i class="glyphicon glyphicon-comment"></i>
<a href="{% url 'discussion_list' theclass.pk%}"><h2>Discussions</h2></a>
{% for discussion in discussions %}
<div>
	<ul class="list-unstyled">
		<li><a href="{% url 'discussionpage' theclass.pk discussion.pk %}">{{discussion}}</a></li>
	</ul>
</div>
{% endfor %}
</div>
<div class="row back">
	<i class="glyphicon glyphicon-arrow-left"></i>
<a href="{% url 'class_list' %}">Back</a>
</div>
{% endblock content %}